[submodule "src/Nuklear"]
	path = src/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear
[submodule "src/XMLParser"]
	path = src/XMLParser
	url = https://github.com/nikita-yfh/XMLParser
[submodule "src/LuaBridge"]
	path = src/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge
[submodule "src/sdl-gpu"]
	path = src/sdl-gpu
	url = https://github.com/grimfang4/sdl-gpu
[submodule "src/SDL_FontCache"]
	path = src/SDL_FontCache
	url = https://github.com/grimfang4/SDL_FontCache
[submodule "src/box2d"]
	path = src/box2d
	url = https://github.com/nikita-yfh/box2d
